@import "lib/components/dotindicator.component";
@import "lib/components/navbutton.component";
@import "lib/components/pageslider.component";

@mixin ng-page-slider(
    $optimal_width, $page_margin,
    $arrow_size: 44px,
    $arrow_line_height: 37px,
    $arrow_color: white, $arrow_background: rgba(125, 125, 125, 0.4),
    $dot_size: 6px, $dot_bottom_offset: 9px,
    $dot_color: white
) {
    @include ng-dot-indicator($dot_size, $dot_color, $dot_bottom_offset);
    @include ng-slider-nav-button($arrow_size, $arrow_line_height, $arrow_color, $arrow_background);

    $screen_width: calc($optimal_width + ($page_margin * 2));
    @media only screen and (max-width: $screen_width) {
        $arrow_size: calc($arrow_size / $screen_width * 100) * 1vw;
        $arrow_line_height: calc($arrow_line_height / $screen_width * 100) * 1vw;
        $dot_size: calc($dot_size / $screen_width * 100) * 1vw;
        $dot_bottom_offset: calc($dot_bottom_offset / $screen_width * 100) * 1vw;

        @include ng-dot-indicator($dot_size, $dot_color, $dot_bottom_offset);
        @include ng-slider-nav-button($arrow_size, $arrow_line_height, $arrow_color, $arrow_background);
    }

    @include ng-page-slider-component();
}
