# This file is currently used by autoprefixer to adjust CSS to support the below specified browsers
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries
#
Edge >= 16
Firefox >=60
Chrome > 60
Safari > 10
iOS >= 11
Opera >= 48
